*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@color-w: white;
@color-b: black;
@color-x: #ababab;
@color-c: #cccccc;
@color-x-d: #333333;
@color-d-x: #696969;
@color-v: #d6ba8d;
@color-r: red;
@color-xb: #92c5d9;
@color-bg-b: #faf9f9;
@color-4: #404040;
@tran: uppercase;
@opacity-1: 0.5;
@size-1: 10px;

body{
    background-color: @color-w;
    font-family: 'Cormorant Garamond','Fira Sans', serif;
}


.container{
    max-width: 1200px;
}

main{
    background-color: @color-w;
    text-align: center;
    line-height: 28px;
    .main-intro{
        margin-bottom: 50px;
        .container-fluid{
            max-width: 1740px;
        }
        .sub-main-intro{
            .sub-main-intro-item{
                padding: 17px 102px;
                h6{
                    text-align: center;
                    font-size: 18px;
                    letter-spacing: 2px;
                    font-weight: 700;
                    line-height: 28px;
                    text-transform: @tran;
                    font-family: 'Cormorant Garamond', serif;
                    text-align: center;
                }
                p{
                    text-align: center;
                    color: @color-x;
                    font-size: 14px;
                    line-height: 28px;
                    font-weight: 400;
                    font-family: 'Fira Sans';
                    
                }
            }
        }
        
        h3{
            padding: 20px;
            margin: 60px 0 50px 0;
            font-weight: 700;
            font-size: 34px;
            line-height: 48px;
            color: @color-x-d;
            font-weight: 600;
            font-family: 'Cormorant Garamond', serif;
            text-align: center;
        }
    }
    .main-item{
        .container-fluid{
            max-width: 1740px;
        }
        
        position: relative;
        padding-bottom: 10px;
        img {
            padding-bottom: 20px;
            object-fit: cover;
            max-width: 100%;
            max-height: 100%;
            margin-bottom: 30px;
        }
        .name{
            padding: 10px;
            font-size: 24px;
            letter-spacing: 1px;
            line-height: 36px;
            color: @color-x-d;
            font-weight: 400;
            font-family: 'Fira Sans';
            text-align: center;
        }
        .price{
            font-size: 24px;
            letter-spacing: 1px;
            line-height: 36px;
            color: @color-v;
            font-weight: 700;
            font-family: 'Cormorant Garamond';
            text-align: center;
        }
        .main-sub-item-1{
                position: relative;
                .item__content-1{
                    position: absolute;
                    bottom: 9%;
                    left: 26%;
                    
                }
        }
        .main-sub-item-2{
        
            position: relative;  
            .item__content-2{
                align-content: center;
                position: absolute;
                top: 19%;
                left: 65%;
                p{
                    font-size: 18px;
                    letter-spacing: 4px;
                    line-height: 64px;
                    color: @color-x-d;
                    font-weight: 400;
                    font-family: 'Fira Sans';
                    text-align: center;
                    margin-bottom: 28px;
                }
                h5{
                    font-size: 24px;
                    line-height: 64px;
                    color: @color-d-x;
                    font-weight: 700;
                    font-family: 'Cormorant Garamond';
                    text-align: center;
                    margin-bottom: 42px;
                    span{
                        font-size: 100px;
                        line-height: 36px;
                        color: @color-x-d;
                    }
                }
                a{
                    text-decoration: none;
                    font-size: 14px;
                    letter-spacing: 3px;
                    color: @color-d-x;
                    font-weight: 700;
                    font-family: 'Fira Sans';
                    text-align: center;
                    text-transform: @tran;
                }
            }
        }
        .main-sub-item-3{
            
            position: relative;
            .item__content-3{
                position: absolute;
                bottom: 21%;
                left: 18%;
                p{
                    font-size: 14px;
                    letter-spacing: 3px;
                    color: @color-x-d;
                    font-weight: 400;
                    font-family: 'Fira Sans';
                    text-align: left;
                    text-transform: @tran;
                    line-height: 24px;
                    margin-bottom: 36px;
                }
                h4{
                    font-size: 72px;
                    line-height: 47px;
                    color: @color-v;
                    font-weight: 700;
                    font-family: 'Fira Sans';
                    text-align: left;
                }
            }
    }
        .main-sub-item-5{
            position: relative;
            .item__content-5{
                position: absolute;
                bottom: 9%;
                left: 18%;
                
            }
        }
        .main-sub-item-6{
            .item__content-6{
                position: absolute;
                text-align: left;
                bottom: 21%;
                left: 54%;
                h5{
                    font-size: 48px;
                    line-height: 56px;
                    color: @color-x-d;
                    font-weight: 700;
                    font-family: 'Cormorant Garamond';
                    margin-bottom: 14px;
                }
                p{
                    font-size: 14px;
                    letter-spacing: 1px;
                    color: @color-d-x;
                    font-weight: 400;
                    font-family: 'Fira Sans';
                }
            }
        }
        
        
    }
    .main-product{
        margin-top: 80px;
        .product-title{
            margin-top: 38px;
            margin-bottom: 60px;
            h2{
                text-align: left;
                font-size: 56px;
                line-height: 28px;
                color: @color-x-d;
                font-weight: 700;
                font-family: 'Cormorant Garamond';
            }
            a{  
                
                text-align: right;
                text-transform: @tran;
                text-decoration: none;
                font-size: 14px;
                letter-spacing: 2px;
                line-height: 24px;
                color: @color-x-d;
                font-weight: 700;
                font-family: 'Fira Sans';
                i{
                    text-align: right;
                    color: @color-v;
                }
            }
        }
        
        .name-product{
            margin-top: 5px;
            font-size: 14px;
            letter-spacing: 1px;
            line-height: 30px;
            color: @color-x-d;
            font-weight: 400;
            font-family: 'Fira Sans';
            text-align: center;
            .price-product{
                font-size: 18px;
                letter-spacing: 1px;
                line-height: 20px;
                color: @color-v;
                font-weight: 700;
                font-family: 'Cormorant Garamond';
                text-align: center;
            }
        }
        .sub-product{
            margin-top: -12px;
        }
        .product-hover{
            align-items: center;
            position: relative;
            img{
                display: block;
                width: 100%;
                padding-top: 15px;
            }
            .add-to-cart{
                position: absolute;
                bottom: 0;
                background: rgb(0, 0, 0);
                background: rgba(0, 0, 0, 0.5);
                color: @color-w;
                width: 100%;
                height: 12.5%;
                transition: .5s ease; 
                opacity: 0;
                display: flex;
                .sub-add{
                    width: 52%;
                    margin: 0;
                    left: 0;
                    box-sizing: border-box;
                    align-items: center;
                    padding: 6px;
                    background-color: @color-v;
                    a{
                        text-decoration: none;
                        text-transform: @tran;
                        color: @color-w;
                        text-align: justify;
                        padding-top: 20px;
                        &:hover {
                            color: @color-r;
                        }
                    }
                }
                .sub-icon{
                    width: 16%;
                    margin: 0;
                    padding: 6px;
                    border-width: 0 0 0 2px;
                    border-style: solid;
                    border-color: @color-w;
                    background: @color-d-x;
                    a{
                        color: @color-c;
                        &:hover {
                            color: @color-r;
                        }
                    }
                }
            }
            &:hover .add-to-cart {
                opacity: 1;
                
              }
        }
        

    }
    .main-blog{
        background: @color-bg-b;
        margin-top: 100px;
        padding-bottom: 80px;
        .blog-content{
            width: 100%;
            margin-top: 28px;
            background-color: @color-w;
            border-color: rgba(0, 0, 0, 0.5);
            padding: 5px;
            text-align: left;
            img{
                width: 100%;
            }
            .blog__time{
                text-transform: @tran;
                font-size: 14px;
                letter-spacing: 1px;
                line-height: 24px;
                color: @color-c;
                font-weight: 400;
                font-family: 'Fira Sans';
                margin: 26px 0 0 32px;
            }
            .blog__title{
                margin: 18px 0 20px 32px;
                font-size: 24px;
                letter-spacing: 1px;
                line-height: 32px;
                color: @color-x-d;
                font-weight: 700;
                font-family: 'Cormorant Garamond';
            }
            .blog__view-share{
                margin: 62px 0 20px 32px;
                i{
                    padding-right: 20px;
                    font-size: @size-1;
                    opacity: @opacity-1;
                    color: @color-xb;
                    font-style: normal;
                    span{
                        padding-left: 10px;
                        color: @color-x-d;
                        font-size: 14px;
                        line-height: 32px;
                        font-weight: 400;
                        font-family: 'Fira Sans';
                    }
                    &:hover{
                        opacity: 1;
                    }
                }
            }
        }
        h2{
            margin-top: -22px;
            font-size: 56px;
            line-height: 28px;
            color: @color-x-d;
            font-weight: 700;
            font-family: 'Cormorant Garamond';
            margin-bottom: 70px;
            
        }
        
        .blog-khoi{
            margin-top: 70px;
            margin-bottom: 50px;
            background-color: @color-w;
            width: 160px;
            height: 20px;
            border: none;
            text-align: center;
            a{
                top: -70%;
                position: relative;
                font-size: 24px;
                color: @color-x-d;
                font-weight: 400;
                font-family: 'Cormorant Garamond';
                text-decoration: none;
                &:hover{
                    color: @color-v;
                }
            }
        }
    }
    .main-logo{
        margin: 35px 0;
        img{
            opacity: 0.3;
            &:hover{
                opacity: 1;
            }
        }
    }
}







