header {
    position: relative;
    .header-banner {
        width: 100%;
        div{
            padding: 0;
            img{
                width: 100%;
            }
        }
    }
    a{
        color: @color-w;
        text-decoration: none;
    }
    .header-top{
        width: 90%;
        position: absolute;
        top: 3%;
        left: 5.3%;
        .logo{
            width: 90%;
        }
        .cart{
            width: 10%;
            ul{
                list-style: none;
                display:flex;
                flex-flow: row nowrap;
                -ms-flex-flow: row wrap;
                -moz-flex-flow: row wrap;
                -webkit-flex-flow: row wrap;
                li{
                    margin-left: 20px;
                    .bag{
                        top: -10px;
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background-color: @color-w;
                        color: @color-b;
                        text-align: center;
                    }
                }
            }
        }
        
    }
    .header-title{
        // max-width: 1720px;
        margin: 0;
        padding: 0 1em;
        position: absolute;
        top: 28%;
        left: 18%;
        .sub-header-title{
            h5{
                font-size: 24px;
                letter-spacing: 12px;
                line-height: 32px;
                color: @color-d-x;
                font-weight: 400;
                font-family: 'Fira Sans';
            }
            h1{
                font-size: 100px;
                text-transform: @tran;
                letter-spacing: 30px;
                line-height: 100px;
                color: @color-x-d;
                font-weight: 600;
                text-align: left;
                font-style: italic;
                font-family: 'Cormorant Garamond';
         
            }
            div{
                background-color: @color-b;
                padding: @size-1;
                width: 20%;
                text-align: center;
                a{
                    font-size: 16px;
                    font-weight: 700;
                    text-transform: @tran;
                    letter-spacing: 2px;
                    line-height: 24px;
                    font-family: 'Fira Sans';
                    color: @color-w;
                    &:hover{
                        color: @color-r;
                    }
                }
            }
        }
        ul{
            margin-top: 20%;
            li{
                list-style: none;
                text-align: right;
                a{
                    font-size: 24px;
                    letter-spacing: 2px;
                    line-height: 40px;
                    color: @color-w;
                    font-weight: 500;
                    font-family: 'Cormorant Garamond';
                    text-align: right;
                    opacity: @opacity-1;
                    &:hover{
                        opacity: 1;
                    }
                }
                
            }

        }
        
       
    }
    
}

